<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    
<ul class="missions">
<%for(i = 0; i < mission.length; i++) {%>
<a href='/index/<%= i %>'><li><%=  mission[i].name %>  </li></a>
<%} %>
</ul>
</body>
</html>